 body{
    background: url(557E.jpg); 
     background-color: #eee;
	 background-size: 100% 100%;
      /*background: rgba(255,255,255,.3);*/
  }
	.black1{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
	}
  .black2{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black3{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black4{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black5{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black6{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black7{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black8{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
  .black9{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(love.jpg);
background-size:100% 100%;
float: left;
  }
